* {
    box-sizing: border-box;
}

body {
    min-width: 300px;
    margin: 0;
    padding: 0;
    background-color: #6495ed;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-left: 15px;
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    background-color: rgb(132, 142, 151);
    display: inline-block;
    width: 95%;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#main-section2 {
    position: absolute;
    margin-left: 320px;
    margin-bottom: 100px;
    padding: 25px;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 320px;
    height: 100%;
}

#nav-bar ul {
    height: 90%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nav-bar li {
    border-top: 1px solid;
    list-style-type: none;
    width: 100%;
    position: relative;
    color: rgb(248, 248, 248);
}

#nav-bar li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(43, 39, 39);
}

header {
    margin: 12px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

@media (max-width: 800px) {
    #nav-bar {
        width: 100%;
        max-height: 250px;
        height: 100%;
        position: relative;
        overflow: hidden;
        border: 1px solid #6495ed;
    }

    #main-section2 {
        margin-left: 10px;
    }
}